h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    font-style: italic;
    color: tomato;
}

.block {
    width: 1100px;
    height: 500px;
    border: 2px dashed green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elem_block {
    width: 150px;
    height: 150px;
    border: 4px solid yellow;
    font-size: 4rem;
    font-weight: 800;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}